OPENAI_API_KEY=ADD_YOUR_KEY_HERE
OPENAI_CHAT_MODEL=gpt-5.4-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
REDIS_INDEX_BASENAME=arxiv
REDIS_URL=redis://arxivchatguru-redis:6379
TOKENIZERS_PARALLELISM=false
